button + button {
    margin-left: 8px;
  }

  .text-right{
    text-align: right;
  }

  .text-left{
    text-align: left;
  }

  .hide {
    display: none;
  }

  .logo {
    height: 64px;
    background: rgb(237, 237, 237);
  }